@{
    ViewBag.Title = "Course  Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Courses is where learners comes to learn the skills they need. Discover thousands of free courses.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="panel panel-default">
    <h1 class="panel-heading" style="text-align:center">Monday</h1>
    <div class="row">

        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/chinese.jpg">
        </div>
        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/french.jpg">
        </div>
    </div>
    <h1 class="panel-heading" style="text-align:center">Tuesday</h1>
    <div class="row">

        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/german.jpg">
        </div>
        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/spanish.jpg">
        </div>
    </div>    <h1 class="panel-heading" style="text-align:center">Wednesday</h1>
    <div class="row">

        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/korean.jpg">
        </div>
        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/chinese.jpg">
        </div>
    </div>    <h1 class="panel-heading" style="text-align:center">Thursday</h1>
    <div class="row">

        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/japanese.jpg">
        </div>
        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/french.jpg">
        </div>
    </div>
    <h1 class="panel-heading" style="text-align:center">Friday</h1>
    <div class="row">

        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/korean.jpg">
        </div>
        <div class="col-md-3 thumbnail" style="height:300px;margin-left:200px;">
            <img src="~/images/spanish.jpg">
        </div>
    </div>
</div>